<div class="main-content">
	<section class="container_6 clearfix">


		<h1><%= @project.title %></h1>
		<!-- <%= link_to image_tag("signupnow.png", :alt => "Sign up Now!") , signup_path %> -->
	</section>
</div>




   <div class="main-content"> 
        <header> 
            <!-- <ul class="action-buttons clearfix fr"> 
                <li><a href="#" class="button button-gray no-text"><span class="wrench"></span></a></li> 
                <li><a href="documentation/index.html" class="button button-gray no-text help" rel="#overlay"><span class="help"></span></a></li> 
            </ul>  -->
            <h2> 
                Tableau de
            </h2> 
        </header> 
        <section class="sortable container_6 clearfix"> 
                <div class="grid_6"> 

                </div> 
                <div class="grid_3 widget-container" id="sortable-1" draggable="true"> 
                    <h2 class="task-icon">Tâches</h2> 
                    <div class="widget has-details"> 
                        <header> 
                            <ul class="fr action-buttons small"> 
                                <li><a href="#" class="widget-close"><span class="close"></span></a></li> 
                            </ul> 
                            <h2><a >Afficher les tâches</a></h2> 
                        </header> 
                        <section> 
                            <div id="reporting-points" class="report-preview"></div> 
                        </section> 
                    </div> 
                </div> 
                <div class="grid_3 widget-container" id="sortable-2" draggable="true"> 
                    <h2 class="milestone-icon">Jalons</h2> 
                    <div class="widget has-details"> 
                        <header> 
                            <ul class="fr action-buttons small"> 
                                <li><a href="#" class="widget-close"><span class="close"></span></a></li> 
                            </ul> 
                            <h2><a >Afficher les jalons</a></h2> 
                        </header> 
                        <section> 
                           <div id="reporting-points" class="report-preview"></div> 
                        </section> 
                    </div> 
                </div> 
                <div class="grid_3 widget-container" id="sortable-3" draggable="true"> 
                    <h2 class="message-icon">Messages</h2> 
                    <div class="widget has-details"> 
                        <header> 
                            <ul class="fr action-buttons small"> 
                                <li><a href="#" class="widget-close"><span class="close"></span></a></li> 
                            </ul> 
                            <h2><a >Afficher les messages</a></h2> 
                        </header> 
                        <section> 
                            <div id="reporting-line" class="report-preview"></div> 
                        </section> 
                    </div> 
                </div> 
                <div class="grid_3 widget-container" id="sortable-4" draggable="true"> 
                    <h2 class="bug-icon">Anomalies</h2> 
                    <div class="widget has-details"> 
                        <header> 
                            <ul class="fr action-buttons small"> 
                                <li><a href="#" class="widget-close"><span class="close"></span></a></li> 
                            </ul> 
                            <h2><a >Afficher les anomalies</a></h2> 
                        </header> 
                        <section> 
                            <div id="reporting-points" class="report-preview"></div> 
                        </section> 
                    </div> 
                </div> 
              
        </section> 
    </div> 
    <!-- End Analytics Section --> 

